
/* Kleurenpalet en lettertypen instellen met variabelen */

:root {
  --primary: #ffffff;
  --secondary: #c51a4a;
  --tertiary: #6cc04a;
  --page: #000000;
  --onprimary: #555559;
  --onsecondary: #ffffff;
  --ontertiary: #555559;
  --onpage: #000000;
  --detail: #999798;
  --detail2: #c9c8c7;

  --body-font: 1rem 'Nunito', sans-serif;
  --header-font: lighter 3rem 'Russo One', sans-serif;
  --title-font: lighter 1.5rem 'Nunito', sans-serif;
  --quote-font: lighter 1.5rem 'Nunito', sans-serif;
}